.App {
  text-align: center;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  margin-top: 50;
  margin-bottom: 50;
}
